<td><input type="text" id="new-pos-qty" value="<%= @quantity %>"/></td>
<td><input type="text" id="new-pos-type" disabled="true" value="OTC"></td>
<td><input type="text" id="new-pos-rx-upc-number" value="<%= @prescription.upc_product_number %>"/></td>
<td><input type="text" id="new-pos-med" disabled="true" value="N"/></td>
<td><input type="text" id="new-pos-desc" disabled="false" value="<% @item.item_name %>"/></td>
<td><input type="text" id="new-pos-each" disabled="true" value="<% @item.price %>"/></td>
<td><input type="text" id="new-pos-total" disabled="true" value="<% @totalPrice %>"/></td>