<td><input type="text" id="new-pos-qty" value="1"/></td>
<td><input type="text" id="new-pos-type" disabled="true" value="RX"></td>
<td><input type="text" id="new-pos-rx-upc-number" value="<%= @prescription.rx_number %>"/></td>
<td><input type="text" id="new-pos-med" disabled="true" value="Y"/></td>
<td><input type="text" id="new-pos-desc" value="<%= @item.item_name %>"/></td>
<td><input type="text" id="new-pos-each" disabled="true" value="<%= @fillInfo.price %>"/></td>
<td><input type="text" id="new-pos-total" disabled="true" value="<%= @fillInfo.price %>"/></td>