<div class="col-lg-10">

<div class="row span10" style="height:50px; background-color: #f9f9f9; border-bottom: 2px solid #d9d8d8;">
  <div class="col-xs-1" style="height:50px;">

      <button type="button">
         <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
  </button>
</div>

</div>

  <div class="container-fluid" style="padding-top:30px;">

    <div class="col-lg-3" style="background-color:#f9f9fa;">PRIMARY INFO</div>

    <div class="col-lg-7" style="background-color:#f9f9fa;">

      <!-- Tab labels -->
      <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#priceGeneral" role="tab" data-toggle="tab">Price & General Info</a></li>
    <li><a href="#secondiary" role="tab" data-toggle="tab">Secondary Info</a></li>
  </ul>

      <!-- Tab panes -->
      <div class="tab-content" style="padding-top:30px;">

        <div class="tab-pane active" id="priceGeneralPane">

           <div class="container-fluid">

             <form role="form" style="font-family:'Arial'; size:8px;">

               <row>

       <!-- First panel, first column -->
                 <div class="container-fluid col-lg-5">

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="awp">AWP</label>
                     <input type="awp" class="form-control" id="awp"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="mac">MAC</label>
                     <input type="mac" class="form-control" id="mac"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="act">ACT</label>
                     <input type="act" class="form-control" id="act"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="wac">WAC</label>
                     <input type="wac" class="form-control" id="wac"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="b340">340B</label>
                     <input type="b340" class="form-control" id="b340"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="custom">Custom</label>
                     <input type="custom" class="form-control" id="custom"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="lastUpdate">Date of Last Price Update</label>
                     <input type="lastUpdate" class="form-control" id="lastUpdate"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="schedule">Schedule Number</label>
                     <input type="schedule" class="form-control" id="schedule">
                   </div>

                   <div class="form-group phx-input-control">
                     <label fclass="form-control-label" or="quantitySchedule">Quantity Schedule Number</label>
                     <input type="quantitySchedule" class="form-control" id="quantitySchedule">
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="ftax">Fed Tax</label>
                     <input type="ftax" class="form-control" id="ftax">
                   </div>

                </div> <!-- END OF first panel, first column -->


<div class="container-fluid col-xs-1">
check boxes
</div>
       <!-- First panel, second column -->
                 <div class="container-fluid col-lg-5">

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="qoh">Quantity On Hand</label>
                     <input type="qoh" class="form-control" id="qoh"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="pkgsize">Package Size</label>
                     <input type="pkgsize" class="form-control" id="pkgsize"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="drugclass">* Drug Classes</label>
                     <input type="drugclass" class="form-control" id="drugclass"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="dunit">Dispensing Unit</label>
                     <input type="dunit" class="form-control" id="dunit"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="uom">Unit of Measure</label>
                     <input type="uom" class="form-control" id="uom"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="erxUom">ERX Unit of Measure</label>
                     <input type="erxUom" class="form-control" id="erxUom"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="dage">Discard Age</label>
                     <input type="dage" class="form-control" id="dage"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="ccode1">Counseling Codes 1</label>
                     <input type="ccode1" class="form-control" id="ccode1"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="ccode2">Counseling Codes 2</label>
                     <input type="ccode2" class="form-control" id="ccode2"/>
                   </div>

                   <div class="form-group phx-input-control">
                     <label class="form-control-label" for="ccode3">Counseling Codes 3</label>
                     <input type="ccode3" class="form-control" id="ccode3"/>
                   </div>

                </div> <!-- END OF first panel, second column -->

            </row>
          </form>
        </div> <!-- panel container-fluid -->

      </div>
      <div class="tab-pane" id="secondiaryPanel">...</div>

  </div>

</div>
